
:root {
    --borderSDark: var(--measurePx) solid var(--colorActionBorderDefault);    
    --border0: 0px solid var(--colorActionBorderDefault);    
    --borderMDark: var(--measure05) solid #000000;    
    --borderLDark: var(--measure1) solid var(--colorActionBorderDefault);    
}