
:root {
    --measureXxxl: 80px;    
    --measureXxl: 64px;    
    --measureXl: 48px;    
    --measureL: 32px;    
    --measureM: 24px;    
    --measureS: 16px;    
    --measureXs: 8px;    
    --measureXxs: 4px;    
    --measure0: 0px;    
    --measureXxxs: 2px;    
    --measureXxxxs: 1px;    
}